# DUB
.dub
docs.json
__dummy.html
docs/
/bin/
*.exe
*.pdb
*.o
*.obj
*.lst
*.a
*.lib

# Idea
.idea/
*.iml

# VSCode
.vscode/

# Swift
/swift/.build/
/swift/Dependencies/SideloaderBackend.xcframework/Headers/sideloader-autogen.h
